@import "../../default-styles.scss";

.teach-here {
  background-color: black;
  justify-content: space-between;
  padding: 2rem 3rem;

  .teach-here-heading {
    color: white;
    font-weight: 600;
  }

  .teach-here-button {
    background-color: $secondary-background-color;
    padding: 1rem 5rem;
    font-weight: 600;
    color: black;
    border-radius: 6px;
  }
}

@media (max-width: 500px) {
  .teach-here {
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 3rem;

    .teach-here-heading {
      text-align: center;
    }
  }
}
