@import "../../default-styles.scss";

.popular-section {
  background-color: #f8f8f8;
  padding-top: 9rem;
}

@media (max-width: 500px) {
  .popular-section {
    .text-box {
      padding: 0 2rem;
    }
  }
}
