@import "../../default-styles.scss";

.app {
  background-color: #f9c733;
  margin: 15rem 17rem;
  border-radius: 20px;
  padding: 0px 5rem;
  display: grid;
  height: 40rem;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  gap: 14rem;

  .app-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    .app-heading {
      font-size: 4.8rem;
      font-weight: 600;
    }

    .download-button {
      gap: 4rem;
    }
  }

  .mobile-picture {
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      right: -3rem;
    }
  }
}

@media (max-width: 500px) {
  .app {
    display: flex;
    flex-direction: column-reverse;
    padding: 10rem 2rem;
    margin: 0;
    margin-top: 50rem;
    background-color: white;
    align-items: center;
    position: relative;

    .app-box {
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem;
      background-color: #f9c733;
      padding: 2rem 1rem;
      padding-top: 40rem;
      border-radius: 20px;
      align-items: center;
      width: 95%;

      .app-heading {
        font-size: 3.6rem;
        font-weight: 600;
        text-align: center;
      }

      .download-button {
        gap: 2rem;
        img {
          width: 13rem;
        }
      }
    }
    .mobile-picture {
      position: absolute;
      bottom: 40rem;
      right: 4rem;
      img {
        position: relative;
        bottom: 0rem;
        right: 0rem;
        left: 0rem;
        top: 0;
        width: 100%;
      }
    }
  }
}

@media (max-width: 393px) {
  .app {
    .app-box {
      padding-top: 33rem;
    }
    .download-button {
      gap: 2rem;
      img {
        width: 13rem;
      }
    }
    .mobile-picture {
      bottom: 44rem;
      right: 0rem;
      img {
        width: 80%;
      }
    }
  }
}
