@import "../../default-styles.scss";

.programming-section {
  background-color: #fff;
  padding-top: 9rem;

  .text-box {
    padding: 0 2rem;
    span {
      color: $secondary-background-color;
    }
  }
}
