@import "../../default-styles.scss";

.testimonials-section {
  padding: 6rem 7rem;
  .testimonials-heading {
    text-align: center;
    padding-bottom: 6rem;
  }

  background-color: $primary-background-color;
}

@media (max-width: 500px) {
  .testimonials-section {
    padding: 6rem 0;
    padding-bottom: 0rem;
  }
}
