@import "../../default-styles.scss";

.recommended-section {
  background-color: #fff;

  .text-box {
    justify-content: space-between;

    .heading-text {
      flex-direction: column;
      align-items: flex-start;
    }

    span {
      cursor: pointer;
      font-size: 1.8rem;
      color: $secondary-heading-color;
      align-self: flex-end;
    }
  }
}

@media (max-width: 500px) {
  .text-box {
    padding: 0 2rem;
    span {
      display: none;
    }
  }
}
