// Font
$primary-heading: 7.2rem;
$secondary-heading: 3.6rem;
$tertiary-heading: 2.4rem;

$primary-heading-weight: 500;
$secondary-heading-weight: 600;
$tertiary-heading-weight: 700;

$primary-paragraph: 2.4rem;
$secondary-paragraph: 1.8rem;
$tertiary-paragraph: 1.4rem;

$primary-paragraph-weight: 400;
$secondary-paragraph-weight: 400;
$tertiary-paragraph-weight: 400;

// Color
$primary-heading-color: #2e2e2e;
$secondary-heading-color: #2e2e2e;
$tertiary-heading-color: #9c9c9c;

$primary-paragraph-color: #969696;
$secondary-paragraph-color: #969696;
$tertiary-paragraph-color: #969696;

$primary-background-color: #fef7e0;
$secondary-background-color: #f9c733;
